# Created by .ignore support plugin (hsz.mobi)
*.iml
.project
.settings/

# logs
*.log
.idea
npm-debug.log*
package-lock.json


# dependencies
/node_modules

build/
*/build/
.idea/
.gradle/
local.properties
.settings/

# cache files
.DS_Store
.npm

# middle compile files

# local configs
lauch.json
.vscode


#nei
/mock/
/plugins/*
/dist/
/temp/
assets/tools/

